{% load static %}

<!DOCTYPE HTML>

<html lang="es">

	<head>
    {% block title %}<title>Biblioteca Local</title>{% endblock %}
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />
		<noscript><link rel="stylesheet" href="{% static 'assets/css/noscript.css' %}" /></noscript>
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">  -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>	 -->
    
    <!-- Add additional CSS in static file -->
  
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet"> 
  <!-- <link rel="stylesheet" href="{% static 'css/normalize.css' %}"> -->
</head>
  	<body class="is-preload">

		<!-- Sidebar -->
			<section id="sidebar">
				<div class="inner">
					<nav>
						<div>

						<ul>
							<a href="{% url 'index' %}">Inicio</a>	
							<a href="{% url 'books' %}">Todos los Libros</a>
							<a href="{% url 'authors' %}">Todos los Autores</a>
						{% block sidebar %}
						{% if user.is_authenticated %}        
							   
								<p>Hola {{ user.username }}</p> 
								  
								  {% if perms.catalog.can_mark_returned %}
								  <a href="{% url 'bibliotecario' %}">Libros prestados</a>
								  {% endif %}
									
								  <a href="{% url 'my-borrowed' %}">Mis libros prestados</a>
								  <a href="{% url 'logout' %}">Cerrar Sesion</a>
								</ul>
							  </div>
							  {% else %}
						
								  <a href="{% url 'login' %}">Iniciar Sesion</a>
								</ul>
							  </div>
						
							  {% endif %}

							  {% endblock %}

					</nav>
				</div>
			</section>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Intro -->
					<section id="intro" class="wrapper style1 fullscreen fade-up">
						<div class="inner">
							{% block content %}{% endblock %}
					  
							{% block pagination %}
							  {% if is_paginated %}
								  <div class="pagination">
									  <span class="page-links">
										  {% if page_obj.has_previous %}
											  <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">Anterior</a>
										  {% endif %}
										  <span class="page-current">
											  Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
										  </span>
										  {% if page_obj.has_next %}
											  <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">Siguiente</a>
										  {% endif %}
									  </span>
								  </div>
							  {% endif %}
							{% endblock %} 
						</div>

					</section>

		<!-- Footer -->
			<footer id="footer" class="wrapper style1-alt">
				<div class="inner">
					<ul class="menu">
						<li>&copy;</li><li> <a href="https://sebadp.github.io/sebastiandavila.github.io/">Sebasatián Dávila</a></li>
					</ul>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="{% static 'assets/js/jquery.min.js' %}"></script>
			<script src="{% static 'assets/js/jquery.scrollex.min.js' %}"></script>
			<script src="{% static 'assets/js/jquery.scrolly.min.js' %}"></script>
			<script src="{% static 'assets/js/browser.min.js' %}"></script>
			<script src="{% static 'assets/js/breakpoints.min.js' %}"></script>
			<script src="{% static 'assets/js/util.js' %}"></script>
			<script src="{% static 'assets/js/main.js' %}"></script>

	</body>
</html>
